@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.ractangular {
  width: 350px;
  height: 104px;
  background-color: #ffffff;
}
