@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #fffbf0;
  font-family: "Poppins", sans-serif;
}

.image-background {
  width: 320px;
  height: 325px;
  background-color: #f1f1f1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
